################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Translator.API/Translator.API.csproj.user
/Translator.Page/Translator.Page.csproj.user
/Translator.slnLaunch.user
/Translator.API/bin/Debug/net9.0
/Translator.API/obj
/Translator.Design/Translator.Design.Application/bin/Debug/net9.0
/Translator.Design/Translator.Design.Application/obj/Debug/net9.0
/Translator.Design/Translator.Design.Application/obj/Release/net9.0
/Translator.Design/Translator.Design.Application/obj
/Translator.Design/Translator.Design.Connector/bin/Debug/net9.0
/Translator.Design/Translator.Design.Connector/obj
/Translator.Design/Translator.Design.Domain/bin/Debug/net9.0
/Translator.Design/Translator.Design.Domain/obj/Debug/net9.0
/Translator.Design/Translator.Design.Domain/obj/Release/net9.0
/Translator.Design/Translator.Design.Domain/obj
/Translator.Design/Translator.Design.Infrastracture/bin/Debug/net9.0
/Translator.Design/Translator.Design.Infrastracture/obj
/Translator.Page/bin/Debug/net9.0
/Translator.Page/obj
